.container {
  display: flex;
  align-items: center;

  column-gap: 20px;
  padding: 30px 20px 20px;

  @media (max-width: 650px) {
    width: 100%;
    flex-direction: column;
    row-gap: 10px;

    padding: 0;
  }
}

.title {
  display: flex;
  justify-content: center;
}

.notice {
  border: solid 1px rgb(var(--base-05));
  border-radius: 8px;
  padding: 8px;
  margin: 15px 0;
  width: 100%;
  max-width: 375px;

  font-size: 14px;
  color: rgb(var(--base-06));

  @media (min-width: 650px) {
    max-width: 650px;
  }

  & > p + p {
    margin-top: 10px;
  }
}

.body {
  margin-top: 20px;
  width: 100%;

  @media (min-width: 650px) {
    display: flex;
    justify-content: center;
    column-gap: 20px;

    margin-top: 30px;
  }
}

.warning {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 10px;

  padding: 150px 0;

  font-size: 20px;
}

.link {
  cursor: pointer;
  color: rgb(var(--blue-01));
  text-decoration: none;
}

.walletLogo {
  width: 100px;
  height: 100px;
  > img {
    width: 100%;
    height: 100%;
  }
}

.walletButtonContainer {
  display: flex;
  flex-direction: column;

  row-gap: 10px;

  height: auto;
  max-height: 200px;
  overflow: auto;

  margin-top: 20px;
}

.walletLogoButton {
  width: 100px;
  height: 100px;
  > img {
    width: 50%;
    height: 50%;
  }
}

.contentsContainer {
  border: solid 1px rgb(var(--base-05));
  border-radius: 8px;
  padding: 20px;

  height: 300px;
  width: 250px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  @media (max-width: 650px) {
    height: auto;
    width: 100%;
  }
}

.connectedWalletContainer {
  @media (max-width: 650px) {
    height: auto;
    width: 100%;
  }
}

.connectedWallet {
  display: flex;
  align-items: center;

  @media (max-width: 650px) {
    height: auto;
    width: 100%;
  }
}

.walletName {
  width: 100%;

  font-size: 20px;
  font-weight: bold;

  word-break: keep-all;
  white-space: nowrap;

  overflow: hidden;
  text-overflow: ellipsis;

  margin-left: 10px;
}

.address {
  word-wrap: break-word;

  margin: 10px 0 10px;
}

.connectedWalletImage {
  width: 50px;
  height: 50px;
}

.baseButton {
  width: 100%;
  padding: 10px;

  border: none;
  border-radius: 5px;

  color: white;
  align-self: flex-end;

  background-color: rgb(var(--purple-01));

  &:hover {
    background-color: rgb(var(--purple-02));
  }

  &:disabled {
    background-color: rgb(var(--base-05));
    cursor: not-allowed;
  }

  font-weight: bold;
}

.contents {
  margin: 20px 0 20px;
}
